#all{
    font-family: 'Exo 2', sans-serif;
    color: black;
}

body{
    margin: 0;
    padding: 0;
}

/*Search Bar*/
#search-form{
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    word-spacing: 8px;
}

#search-by, #sort-by{
    font-size: 18px;
    border: 2px solid black;
    cursor: pointer;
}

#search_op1, #search_op2{
    margin-left: 10px;
}

#search{
    margin-top: 10px;
    font-size: 18px;
    border: 2px solid black;
    margin-bottom: 10px;
    width: 300px;
}

#search_op1, #search_op2, #sort_op1, #sort_op2, #sort_op3{
    font-size: 15px;
    cursor: pointer;    
}

#search-button {
    height: 35px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

#search-button:hover{
    background-color: #BCA37F;
}

/*database table*/
#data_table{
    margin-top: 10px;
    margin-left: 20px;
    width: 97%;
    border: 2px solid #7E6E57;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
}

th {
    background-color: #7E6E57;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 19px;
}

td{
    background-color: #edf1f7;
    font-size: 17px;
}

#edit, #delete{
    width: 30px;
    height: 30px;
    text-align: center;
    align-items: center;
}
