body {
    margin: 0;
    padding: 0;
    background-color: #FFF2D8;
    font-family: 'Exo 2', sans-serif;
}

#header {
    background-color: #EAD7BB;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#header{
    width: auto;
    height: 125px;
    background-color: #EAD7BB;
}

#weblogo{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
    justify-content: left;
}

#webname{
    float: left;
    margin-left: 15px;
    font-size: 22px;
    font-style: italic;
    font-family: 'Exo 2', sans-serif;
    justify-content: right;
    color: black;
    text-align: left;
}

#head_con{
    font-family: 'Exo 2', sans-serif;
    float: right;
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

/*all settings except logo & website name*/
#all{
    font-family: 'Exo 2', sans-serif;
    color: black;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #7E6E57;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #BCA37F;
}

/*idk what is this*/
/* Style for the active link */
li a.active {
    background-color: #4CAF50;
}

/*total user table*/
table {
    margin-left: 130px;
    margin-top: 50px;
    width: 80%;
    height: 250px;
    align-items: center;
}

th, td{
    text-align: center;
    align-items: center;
    border: 3px solid black;
}

th {
    background-color: #5d6471;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    width: 16%;
}

td{
    background-color: #edf1f7;
    font-size: 38px;
    width: 10%;
}