body {
    margin: 0;
    padding: 0;
    background-color: #FFF2D8;
    font-family: 'Exo 2', sans-serif;
}

#header {
    background-color: #EAD7BB;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    height: 135px;
}

#weblogo{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
    justify-content: left;
}

#webname{
    float: left;
    margin-left: 15px;
    font-size: 22px;
    font-style: italic;
    font-family: 'Exo 2', sans-serif;
    justify-content: right;
    color: black;
    text-align: left;
}

#head_con{
    font-family: 'Exo 2', sans-serif;
    float: right;
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

/*all settings except logo & website name*/
#all{
    font-family: 'Exo 2', sans-serif;
    color: black;
} 

#menu {
    text-align: center;
    background-color: #7E6E57;
}

#menu ul {
    display: inline-flex; 
    list-style: none;
    color: white;
    margin: 0;
}

#menu ul li {
    position: relative; /* Added this line for proper positioning of submenus */
    width: 200px;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

#menu ul li:hover {
    background-color: #C4BBAF;
    border-radius: 10px;
}


    #table1 {
        margin-left: 130px;
        margin-top: 40px;
        width: 80%;
        height: 350px;
        align-items: center;
        border-spacing: 30px;
    }

    #th1, #td1 {
        text-align: center;
        align-items: center;
        border: 3px solid black;
        padding: 20px; /* Add 20px spacing for both th and td*/
    }

    #th1 {
        background-color: #7E6E57;
        color: white;
        font-size: 40px;
        width: 16%;
    }

    #td1 {
        background-color: #edf1f7;
        font-size: 38px;
        width: 10%;
    }



/*
    #table{
    align-items: center;
    border-spacing: 10px;

}

th {
    border: 3px solid black;
    background-color: #5d6471;
    font-size: 19px;
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
}

td{
    background-color: #edf1f7;
    font-size: 17px;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
    margin-left: 10px;
}
*/