#all{
    font-family: 'Exo 2', sans-serif;
    color: black;
    margin: 0;
    padding: 0;   
}

/*head content*/
#table{
    margin-left: 95px;
    align-items: center;
    width: 85%;
    margin-top: 18px;
}

#tabla_column {
    background-color: #7E6E57;
    border: 3px solid black;
    font-size: 19px;
    color: white;
    text-align: center;
    align-items: center;
    width: 25%;
}

td{
    background-color: #eff2f6;
    font-size: 17px;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    padding: 5px;
    width: 45%;
}

#submit_button, #back_button {
    border: 1px solid black;
    margin: 10px auto;
    width: 100px;
    height: 30px;
    text-align: center;
    align-items: center;
    display: block;
}
