#all{
    font-family: 'Exo 2', sans-serif;
    color: black;
    margin: 0;
    padding: 0;   
}

/*head content*/
#profile{
    width: 200px; 
    height: 200px;
}

#table{
    margin-left: 95px;
    align-items: center;
    width: 85%;
    margin-top: 18px;
    border-spacing: 3px;
}

#tabla_column {
    background-color: #7E6E57;
    border: 3px solid black;
    font-size: 19px;
    color: white;
    text-align: center;
    align-items: center;
    width: 25%;
}

td{
    background-color: #eff2f6;
    font-size: 17px;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    padding: 5px;
    width: 45%;
}

#textbox{
    width: 300px;
}

#submit_button, #back_button {
    margin: 10px auto;
    width: 100px;
    text-align: center;
    align-items: center;
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit_button:hover, #back_button:hover{
    background-color: #BCA37F;
}

/*error msg*/
#error_msg{
    color: red;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}
