#feedback {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Ensure the button appears above other elements */
}

#feedback-link {
    display: block;
    text-decoration: none;
}

#feedback-image {
    width: 50px; /* Adjust the size of the image as needed */
    height: auto;
    border-radius: 50%; /* Make the image circular */
    box-shadow: 0px 0px 10px 0px #888; /* Add a subtle box shadow */
    transition: transform 0.3s ease-in-out;
}

#feedback-image:hover {
    transform: scale(1.1); /* Enlarge the button on hover */
}
