/* feedbackbutton.css */

button {
    padding: 10px;
    background-color: #acb5c8;
    color: #fff;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 20px;
    bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#newChatContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 700px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"]{
    width: 600px; 
    height: 300px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Adjust styles as needed */

#image {
    width: 40px;
    height: 40px;
    padding: 3px;
}