body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#follow_contact {
    height: 150px;
    border-top: 3px solid black;
    background-color: #BCA37F;
    margin-bottom: 20px; /* Add margin to create space */
}

.fol_title {
    float: left;
    width: 170px;
    height: 145px;
    border: 2px solid black;
    margin-left: 50px;
}

.fol_title_content {
    display: flex;
    border: 2px solid black;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 35px;
    margin-top: 60px;
}

#fol_content {
    float: left;
    width: 400px;
    height: 145px;
    border: 2px solid rgb(17, 17, 17);
    margin-left: 15px;
}

#fol_icon{
    border: 2px solid black;
    width: 70px;
    height: 145px;
}

#fol_con{
    border: 2px solid black;
    width: 250px;
    height: 145px;
    padding: 5px;
    float: left;
}

.fol_img1, .fol_img2{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    padding: 12px;
}



.fol_con1:visited, .fol_con2:visited, .con_con1:visited, .con_con2:visited{
    color: black;
}

.fol_con1:hover, .fol_con2:hover, .con_con1:hover, .con_con2:hover{
    color: #FFF2D8;
}