/*overall setting*/
footer {
    margin: 0;
    padding: 0;
    height: 160px;
    width: 100%;
    background-color: #7E6E57;
}

/*follow*/
#follow_contact {
    height: 160px;
    border-top: 3px solid black;
    background-color: #7E6E57;
    color: #FFF2D8;
}

.fol_title {
    float: left;
    width: 168px;
    height: 105px;
    margin-left: 60px;
}

.fol_title_content {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
    margin-left: 30px;
    margin-top: 45px;
}

#fol_content {
    float: left;
    width: 400px;
    height: 105px;
    margin-left: 15px;
}

#fol_icon{
    width: 70px;
    height: 105px;
    float: left;
}

#fol_img1, #fol_img2{
    width: 35px;
    height: 35px;
    padding: 13px;

}

#fol_con{
    float: left;
    width: 320px;
    height: 105px;
}

#fol_con1, #fol_con2{
    float: left;
    font-size: 17px;
    color: #FFF2D8;
    margin-left: 8px;
    margin-top: 5px;
    text-decoration: none;
}

#fol_con2{
    margin-top: 44px;
}

/*contact*/
.con_title {
    float: left;
    width: 170px;
    height: 135px;
    margin-left: 60px;
}

.con_title_content {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 30px;
    margin-top: 45px;
}

#con_content {
    float: left;
    width: 400px;
    height: 135px;
    margin-left: 15px;
}

#con_icon{
    width: 70px;
    height: 135px;
    float: left;
}

#con_img1, #con_img2{
    width: 35px;
    height: 35px;
    padding: 13px;
}

#con_con{
    float: left;
    width: 320px;
    height: 135px;
}

#con_con1, #con_con2{
    float: left;
    font-size: 17px;
    color: #FFF2D8;
    margin-left: 8px;
    margin-top: 5px;
    text-decoration: none;
}

#con_con2{
    margin-top: 44px;
}

#fol_con1:visited, #fol_con2:visited, #con_con1:visited, #con_con2:visited{
    color: #FFF2D8;
}

#fol_con1:hover, #fol_con2:hover, #con_con1:hover, #con_con2:hover{
    color: black;
}

#footer_con{
    width: 100%;
    margin: 0 auto;
    float: left;
}

/*copyright*/
#copyright{
    font-size: 15px;
    float: left;
    margin-left: 8px;
    color: black;
    margin-top: 0;
}