/*for all parts*/
body{
    background-color: #FFF2D8;
}

/*logo and website name*/
#logo_menu{
    width: auto;
    height: 125px;
    background-color: #EAD7BB;
}

#weblogo{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
    justify-content: left;
}

#webname{
    float: left;
    margin-left: 15px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    justify-content: right;
    color: black;
}

/*all settings except logo & website name*/
#all{
    font-family: 'Playfair Display', serif;
    color: black;
} 

/*menubar*/
#menubar {
    height: 90px;
    font-size: 20px;
    float: right;
    margin-top: 15px;
    margin-right: 35px;
    background-color: #BCA37F;
    color: white;
    display: flex;
    justify-content: right;
    border-radius: 10px;
}

.menubar_content {
    border-spacing: 10px;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    color: black;
    width: 100%;
    justify-content: center;
}

.menu1, .menu2, .menu3{
    text-decoration: none;
}

.menu1:visited, .menu2:visited, .menu3:visited{
    color: white;
}

.menu1:hover, .menu2:hover, .menu3:hover{
    color: #4c4438;
}

/*slogan*/
#slogan {
    height: 90px;
    text-align: center;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*login and signup*/
#login_signup{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login, #register{
    border: 3px solid #7E6E57;
    border-radius: 20px;
    font-size: 30px;
    padding: 8px;
    font-weight: bold;
    border-spacing: 8px;
    margin: 80px;
    background-color: #7E6E57;
}

.login_button, .register_button{
    text-decoration: none;
}

.login_button:visited, .register_button:visited{
    color: white;
}

/*objective*/
#objective{
    margin-top: 20px;
    height: 420px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#objective_table{
    height: 350px;
}

.obj1, .obj2, .obj3, .obj4{
    width: 150px;
    height: 150px;
}

.obj_content{
    text-align: center;
}

.bcon{
    font-size: 20px;
}

.con{
    flex-wrap: wrap; 
}

/*follow and contact*/
.follow_contact{
    background-color: #113946;
    margin-top: 15px;
    width: 100%;
    border-top: 2px solid black;
}

.fol_title, .con_title{
    width: 120px;
    height: 90px;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

.fol_title_content, .con_title_content{
    width: 120px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
}

.fol_content, .con_content{
    float: left;
    width: 400px;
    margin-left: 10px;
}

.fol_img1, .fol_img2, .con_img1, .con_img2{
    width: 40px;
    height: 40px;
    float: left;
}

.fol_con1, .fol_con2, .con_con1, .con_con2{
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 15px;
    color: black;
}

.fol_con1:visited, .fol_con2:visited, .con_con1:visited, .con_con2:visited{
    color: black;
}
