
/*center the container to the middle of the page,
Make sure the container can cover all the "input"
leave some space between the top of the page*/
.container {
    margin: 100px auto 100px;
    width: 500px;
    height: 780px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

/*divide all the "input" inside the container equally*/
.input {
    width: 100%;
    margin-bottom: 20px;
}

/*make the input boxes look like text boxes*/
input[type=text], input[type=password], input[type=email] {
    width: 95%;
    padding: 10px;
    margin: 5px 5px 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/*Make the button center in the middle, and style it (green)*/
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*Make the button look like a button*/
input[type=submit]:hover {
    background-color: #45a049;
}