body {
    font-family: 'Arial', sans-serif;
    background-color: #edf1f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF2D8;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header {
    text-align: center;
    margin-bottom: 30px;
    color: #7E6E57;
}

.box {
    display: inline-block;
    width: 200px;
    height: 230px;
    border: 2px solid #BCA37F;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s;
    border-radius: 8px;
    overflow: hidden;
}

.box:hover {
    border-color: #7E6E57;
}

.box.enlarged {
    border-color: #7E6E57;
    transform: scale(1.1);
}

.box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.box h3 {
    margin: 0;
    color: #7E6E57;
    font-size: 18px;
}

.box .specification {
    display: none;
    color: #BCA37F;
    font-size: 14px;
    text-align: left;
}

.box.enlarged .specification {
    display: block;
}

#btnSubmit {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7E6E57;
    color: #edf1f7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #BCA37F;
}

ul {
    list-style-type: none;
    padding: 0;
}