body {
    font-family: 'Exo 2', sans-serif;
    background-color: #FFF2D8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.code-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.code-input input {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7E6E57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #BCA37F;
    color: black;
}