body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2D8;
    margin-left: 25px;
}

/*question*/
#question_option{
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;
}

#question-text{
    font-size: 21px;
    margin-bottom: 5px;
}

#option{
    font-size: 19px;
    margin-bottom: 5px;
}

/*submit button*/
input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto;
}
 
input[type="submit"]:hover {
    background-color: #BCA37F;
}