.choose-classroom {
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #EAD7BB;
}

.choose-classroom:hover {
    background-color: #7E6E57;
}

.linktoclassroom, .linktoclassroom:visited {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.linktoclassroom:hover {
    color: black;
}

.container {
    margin: 0 auto;
    width: 70%; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 3px solid black;
    box-shadow: 0px 0px 10px 0px #000000;
    border-radius: 20px;
    background-color: #EAD7BB;
    padding: 20px;
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#description {
    font-size: 20px;
    margin-bottom: 20px;

}

#important {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: red;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto;
}
 
input[type="submit"]:hover {
    background-color: #BCA37F;
}