.container {
    text-align: center;
    border: 3px solid black;
    box-shadow: 0px 0px 10px 0px #000000;
    border-radius: 20px;
    background-color: #EAD7BB;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 20px;
}

.codedes {
    font-size: 20px;
    margin-bottom: 20px;
    margin: 20px;
}

.code-input {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.code-input input {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7E6E57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #BCA37F;
    color: black;
}