.choose-classroom {
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #EAD7BB;
}

.choose-classroom:hover {
    background-color: #7E6E57;
}

.linktoclassroom, .linktoclassroom:visited {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.linktoclassroom:hover {
    color: black;
}

th, td{
    text-align: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
}

th {
    background-color: #7E6E57;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 19px;
}

td{
    background-color: #edf1f7;
    font-size: 17px;
}

table{
    margin: 0 auto;
    width: 60%;
}

input[type="text"], select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    background-color: #edf1f7;
    border: none; /* Disable the border */
}

input[type="text"]:focus, select:focus {
    background-color: #D0E2F5;
}

.updatebtn {
    text-align: center;
    margin: 25px;
}

.submitbtn {
    height: 35px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.submitbtn:hover{
    background-color: #BCA37F;
}

.link {
    text-decoration: none;
    color: #7E6E57;
    font-size: 20px;
    font-weight: bold;
}

.link:hover {
    color: #7E6E57;
}

.link:visited {
    color: #BCA37F;
}

.linkdiv {
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #EAD7BB;
    padding: 20px;
    width: 30%; 
    margin: 0 auto;
    margin-bottom: 50px;
}

.linkdiv:hover {
    background-color: #7E6E57;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-input {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    background-color: #edf1f7;
    border: none;
    cursor: pointer;
}

.custom-file-input::before {
    content: "Choose Picture";
    display: inline-block;
    padding: 10px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-input:hover::before {
    background-color: #6C5D4D;
}

.custom-file-input:active::before {
    background-color: #5A4B3D;
}

.custom-file-input:focus::before {
    outline: none;
    box-shadow: 0 0 0 2px #D0E2F5;
}