body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2D8;
}

/*create exam menu bar*/
h1 {
    color: #333;
    letter-spacing: 2px;
    text-align: center;
}

#sec_exam{
    background-color: #EAD7BB;
    width: 380px;
    height: 55px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 15px;
    margin-left: 400px;
}

#sec_exam:hover{
    background-color: #7E6E57;
    border-spacing: 20px;
}

#fir_exam{
    background-color: #EAD7BB;
    width: 380px;
    height: 55px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 400px;
}

#fir_exam:hover{
    background-color: #7E6E57;
}

#title{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
}

li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;

}

/*create exam details*/
#container {
    width: 75%;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-size: 38px;
}

form {
    width: 100%;
    height: 100%;
}

#exam_name{
    width: 50%;
    height: 70px;
    margin: 0 auto;
    padding-top: 10px;
}

.name-con, #desc_con{
    font-size: 20px;
    text-align: center;
    float: left;
    margin-right: 20px;
    text-align: center;
}

#exam_description{
    width: 50%;
    height: 50px;
    margin: 0 auto;
}

.inp-box {
    text-align: center;
    word-spacing: 5px;
    font-size: 21px;
    width: 55%;
}

/* Create button */
#classroomsubmit_button{
    margin: 20px auto;
    text-align: center;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
input[type="submit"]:hover {
    background-color: #BCA37F;
}

.choose-classroom {
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #EAD7BB;
}

.choose-classroom:hover {
    background-color: #7E6E57;
}

.linktoclassroom, .linktoclassroom:visited {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.linktoclassroom:hover {
    color: black;
}
