body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2D8;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-size: 38px;
}

.inp-box {
    margin-top: 22px;
    margin-bottom: 5px;
    word-spacing: 5px;
    font-size: 21px;
}

/* Create button */
input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7E6E57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    font-size: 24px;
}
 
input[type="submit"]:hover {
    background-color: #BCA37F;
}

/* Choose file */
input[type="file"] {
    /* Same styles as above */
    padding: 10px 20px;
    font-size: 24px;
}

select {
    font-size: 24px; /* Increase the font size of the select element */
    border-radius: 5px;
    padding: 5px;
    background-color: #FCE5CD;
    color: #7E6E57;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px #000000;
    transition: background-color 0.3s ease;
}

option {
    font-size: 24px; /* Increase the font size of the option elements */
    background-color: #FCE5CD;
    color: #7E6E57;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

option:hover {
    background-color: #BCA37F;
    color: white;
}
    
.submitbtn {
    text-align: center;
}

form {
    width: 80%;
}

input[type="text"] {
    width: 100%
}