body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF2D8;
    margin-left: 20px;
}

h1 {
    letter-spacing: 3px;
    word-spacing: 8px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    color: #333;
}

/*add member*/
ul{
    margin-left: 465px;
}

#oldclass{
    background-color: #EAD7BB;
    width: 400px;
    height: 55px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
}

#oldclass:hover{
    background-color: #7E6E57;
    border-spacing: 20px;
}

#newclass{
    background-color: #EAD7BB;
    width: 400px;
    height: 55px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

#newclass:hover{
    background-color: #7E6E57;
}

li{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;

}

#class_content{
    color: black;
    text-decoration: none;
}


/*add or remove member*/
h3{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
}

table{
    margin-top: 10px;
    margin-left: 20px;
    width: 95%;
    border: 2px solid #7E6E57;
    border-collapse: collapse;
}

th{
    text-align: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
    background-color: #7E6E57;
    color: white;
    text-align: center;
    font-size: 19px;
}

td{
    text-align: center;
    align-items: center;
    border: 3px solid black;
    padding: 10px;
    font-size: 18px;
}

#email_title, #email_con{
    font-size: 19px;
    margin-right: 10px;
}

#add_button{
    font-size: 17px;
    margin-right: 10px;
}
