.container-add {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #BCA37F;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #000000;
    height: auto;
}

.question, .mark, .image {
    text-align: left;
    width: 50%; 
    margin: 0 auto;
    margin-top: 10px;
    font-size: 20px;
}

#question, #mark, .exit-btn2 {
    /* Add beautiful styles for the input text */
    border: 2px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #EEE;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

#image {
    /* Add beautiful styles for the input text */
    border: 2px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #EEE;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.submit-btn, .clear-btn {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #7E6E57;
        color: white;
        border: 2px solid black;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
        margin: 0 auto;
        margin-bottom: 3px 
}

.join {
    width: 50%;
    margin: 0 auto;
}

.submit-btn {
    float: left;
}

.clear-btn {
    float: right;
}

.submit-btn:hover {
    background-color: #80694a;
}

.exit-btn {
    clear: both;
    width: 20%; 
    align-items: center;
    margin: 0 auto;
}

.exit-btn2:hover {
    background-color: #80694a;
    border: 2px solid #555;
}

.choose-classroom {
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #EAD7BB;
}

.choose-classroom:hover {
    background-color: #7E6E57;
}

.linktoclassroom, .linktoclassroom:visited {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.linktoclassroom:hover {
    color: black;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}