body {
    margin: 0;
    padding: 0;
    background-color: #FFF2D8;
    font-family: 'Exo 2', sans-serif;
}

#header {
    background-color: #EAD7BB;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    height: 135px;
}

#weblogo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
}

#webname {
    float: left;
    margin-left: 15px;
    font-size: 22px;
    font-style: italic;
    font-family: 'Exo 2', sans-serif;
    color: black;
    text-align: left;
}

#head_con {
    font-family: 'Exo 2', sans-serif;
    float: right;
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

/* All settings except logo & website name */
#all {
    font-family: 'Exo 2', sans-serif;
    color: black;
} 